In [2]:
import xml.etree.ElementTree as ET
import pandas as pd
import numpy as np

# Cells.xml

### cells.xml - Cell candidate positions in the coordinate space of the raw data

In [3]:
# Parse the XML file
tree = ET.parse('/Users/grant/Desktop/work/Denman_Lab/Cal_Light/LifeCanvas/cellfinder_outputs/G21/Combined/G21_cellfinder_gfp_rfp_031223//points/cells.xml')

# Get the root element
root = tree.getroot()

# Get the Image_Filename
image_filename = root.find('Image_Properties/Image_Filename').text

# Create a list of dictionaries to store the data
data = []
for marker_type in root.findall('Marker_Data/Marker_Type'):
    type_id = marker_type.find('Type').text
    for marker in marker_type.findall('Marker'):
        row = {'Image_Filename': image_filename,
               'Type': type_id,
               'MarkerX': marker.find('MarkerX').text,
               'MarkerY': marker.find('MarkerY').text,
               'MarkerZ': marker.find('MarkerZ').text}
        data.append(row)

# Create a pandas DataFrame from the data
cells_df = pd.DataFrame(data, columns=['Image_Filename', 'Type', 'MarkerX', 'MarkerY', 'MarkerZ'])

# Assuming your DataFrame is called "df"
num_rows_with_type_1 = len(cells_df[cells_df['Type'] == '1'])
print("num rows with type 1: " + str(num_rows_with_type_1))

# Assuming your DataFrame is called "df"
num_rows_with_type_2 = len(cells_df[cells_df['Type'] == '2'])
print("num rows with type 2: " + str(num_rows_with_type_2))


cells_df

num rows with type 1: 66811
num rows with type 2: 0

        Image_Filename Type MarkerX MarkerY MarkerZ
0      placeholder.tif    1    3078    1161       5
1      placeholder.tif    1    3260    3820       2
2      placeholder.tif    1    3249    4125       3
3      placeholder.tif    1    3272    4127       3
4      placeholder.tif    1    3261    4131       2
...                ...  ...     ...     ...     ...
66806  placeholder.tif    1      13    6501    1996
66807  placeholder.tif    1      13    6516    1996
66808  placeholder.tif    1      13    6528    1996
66809  placeholder.tif    1      13    6553    1996
66810  placeholder.tif    1    2451    9495    1996

[66811 rows x 5 columns]

# Cell_classification.xml

### cell_classification.xml - Same as cells.xml, but after classification (i.e. each cell candidate has a cell/no_cell label)

In [26]:
# Parse the XML file
tree = ET.parse('/Users/grant/Desktop/cellfinder_output_gfp_Planes_400-450_032623/points/cell_classification.xml')
#/Users/grant/Desktop/cellfinder_output_gfp_Planes_10-300_032623/points/cell_classification.xml
#/Users/grant/Desktop/work/Denman_Lab/Cal_Light/cellfinder/cellfinder_output/G21/G21_cellfinder_output_021423/points/cell_classification.xml
#/Users/grant/Desktop/cellfinder_gf_wholebrain_030723_33/points/cell_classification.xml
# /Users/grant/Desktop/cellfinder_output_gfp_Planes_400-450_032623/points/cell_classification.xml
# Get the root element
root = tree.getroot()

# Get the Image_Filename
image_filename = root.find('Image_Properties/Image_Filename').text

# Create a list of dictionaries to store the data
data = []
for marker_type in root.findall('Marker_Data/Marker_Type'):
    type_id = marker_type.find('Type').text
    for marker in marker_type.findall('Marker'):
        row = {'Image_Filename': image_filename,
               'Type': type_id,
               'MarkerX': marker.find('MarkerX').text,
               'MarkerY': marker.find('MarkerY').text,
               'MarkerZ': marker.find('MarkerZ').text}
        data.append(row)

# Create a pandas DataFrame from the data
cellClassification_df = pd.DataFrame(data, columns=['Image_Filename', 'Type', 'MarkerX', 'MarkerY', 'MarkerZ'])

# Assuming your DataFrame is called "df"
num_rows_with_type_1 = len(cellClassification_df[cellClassification_df['Type'] == '1'])
print("num rows with type 1 / non-cells: " + str(num_rows_with_type_1))

# Assuming your DataFrame is called "df"
num_rows_with_type_2 = len(cellClassification_df[cellClassification_df['Type'] == '2'])
print("num rows with type 2 / cells: " + str(num_rows_with_type_2))


cellClassification_df

num rows with type 1 / non-cells: 1393
num rows with type 2 / cells: 278

       Image_Filename Type MarkerX MarkerY MarkerZ
0     placeholder.tif    1    4077    2796     406
1     placeholder.tif    1    4550    3299     406
2     placeholder.tif    1    4786    5308     406
3     placeholder.tif    1    5611    6359     406
4     placeholder.tif    1    4384    6634     406
...               ...  ...     ...     ...     ...
1666  placeholder.tif    2    3935    2893     448
1667  placeholder.tif    2    2045    3759     448
1668  placeholder.tif    2    3748    4906     448
1669  placeholder.tif    2    5126    6430     448
1670  placeholder.tif    2    4831    6718     448

[1671 rows x 5 columns]

In [13]:
# Path to cellfinder_output shared cells .npy file
shared_cells_path = '/Users/grant/Desktop/shared_cells_test_001_.npy'
shared_cells_path
points = np.load(shared_cells_path)
print(np.shape(points))
points

(6656, 3)

array([[ 9150.,   250.,  6950.],
       [ 9200.,   250.,  6850.],
       [ 9000.,   350.,  4100.],
       ...,
       [12750., 10000.,  4650.],
       [13300., 10050.,  6150.],
       [13000., 10000.,  5950.]])