In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

# Cells.xml

### cells.xml - Cell candidate positions in the coordinate space of the raw data

In [23]:
# Parse the XML file
tree = ET.parse('/Users/grant/Desktop/cellfinder_output_rfp_planes150_160_022323/points/cells.xml')

# Get the root element
root = tree.getroot()

# Get the Image_Filename
image_filename = root.find('Image_Properties/Image_Filename').text

# Create a list of dictionaries to store the data
data = []
for marker_type in root.findall('Marker_Data/Marker_Type'):
    type_id = marker_type.find('Type').text
    for marker in marker_type.findall('Marker'):
        row = {'Image_Filename': image_filename,
               'Type': type_id,
               'MarkerX': marker.find('MarkerX').text,
               'MarkerY': marker.find('MarkerY').text,
               'MarkerZ': marker.find('MarkerZ').text}
        data.append(row)

# Create a pandas DataFrame from the data
cells_df = pd.DataFrame(data, columns=['Image_Filename', 'Type', 'MarkerX', 'MarkerY', 'MarkerZ'])

# Assuming your DataFrame is called "df"
num_rows_with_type_1 = len(cells_df[cells_df['Type'] == '1'])
print("num rows with type 1: " + str(num_rows_with_type_1))

# Assuming your DataFrame is called "df"
num_rows_with_type_2 = len(cells_df[cells_df['Type'] == '2'])
print("num rows with type 2: " + str(num_rows_with_type_2))


cells_df

num rows with type 1: 6724
num rows with type 2: 0

       Image_Filename Type MarkerX MarkerY MarkerZ
0     placeholder.tif    1    4687    3799     152
1     placeholder.tif    1    4120    3819     152
2     placeholder.tif    1    4952    3887     152
3     placeholder.tif    1    3241    4024     153
4     placeholder.tif    1    4469    4060     152
...               ...  ...     ...     ...     ...
6719  placeholder.tif    1    4297    6439     158
6720  placeholder.tif    1    2868    6484     158
6721  placeholder.tif    1    4427    6485     158
6722  placeholder.tif    1    4537    6957     158
6723  placeholder.tif    1    4274    7170     158

[6724 rows x 5 columns]

# Cell_classification.xml

### cell_classification.xml - Same as cells.xml, but after classification (i.e. each cell candidate has a cell/no_cell label)

In [3]:
# Parse the XML file
tree = ET.parse('/Users/grant/Desktop/cellfinder_gfp_wholebrain_030723_33/points/cell_classification.xml')

# Get the root element
root = tree.getroot()

# Get the Image_Filename
image_filename = root.find('Image_Properties/Image_Filename').text

# Create a list of dictionaries to store the data
data = []
for marker_type in root.findall('Marker_Data/Marker_Type'):
    type_id = marker_type.find('Type').text
    for marker in marker_type.findall('Marker'):
        row = {'Image_Filename': image_filename,
               'Type': type_id,
               'MarkerX': marker.find('MarkerX').text,
               'MarkerY': marker.find('MarkerY').text,
               'MarkerZ': marker.find('MarkerZ').text}
        data.append(row)

# Create a pandas DataFrame from the data
cellClassification_df = pd.DataFrame(data, columns=['Image_Filename', 'Type', 'MarkerX', 'MarkerY', 'MarkerZ'])

# Assuming your DataFrame is called "df"
num_rows_with_type_1 = len(cellClassification_df[cellClassification_df['Type'] == '1'])
print("num rows with type 1 / non-cells: " + str(num_rows_with_type_1))

# Assuming your DataFrame is called "df"
num_rows_with_type_2 = len(cellClassification_df[cellClassification_df['Type'] == '2'])
print("num rows with type 2 / cells: " + str(num_rows_with_type_2))


cellClassification_df

num rows with type 1 / non-cells: 59590
num rows with type 2 / cells: 6656

        Image_Filename Type MarkerX MarkerY MarkerZ
0      placeholder.tif    1    3802    5793      12
1      placeholder.tif    1    3568    6092      12
2      placeholder.tif    1    4612    5300      12
3      placeholder.tif    1    4873    5100      12
4      placeholder.tif    1    4825    5129      12
...                ...  ...     ...     ...     ...
66241  placeholder.tif    2    3566    9125    1984
66242  placeholder.tif    2    7375    8800    1982
66243  placeholder.tif    2    4474    8744    1982
66244  placeholder.tif    2    3606    9067    1982
66245  placeholder.tif    2    3724    8859    1986

[66246 rows x 5 columns]