In [1]:
import xml.etree.ElementTree as ET

In [4]:
import xml.etree.ElementTree as ET
import pandas as pd

# Parse the XML file
tree = ET.parse('/Users/grant/Desktop/work/Denman_Lab/Cal_Light/cellfinder/cellfinder_output/G21/G21_cellfinder_output_02223/points/cells.xml')

# Get the root element
root = tree.getroot()

# Get the Image_Filename
image_filename = root.find('Image_Properties/Image_Filename').text

# Create a list of dictionaries to store the data
data = []
for marker_type in root.findall('Marker_Data/Marker_Type'):
    type_id = marker_type.find('Type').text
    for marker in marker_type.findall('Marker'):
        row = {'Image_Filename': image_filename,
               'Type': type_id,
               'MarkerX': marker.find('MarkerX').text,
               'MarkerY': marker.find('MarkerY').text,
               'MarkerZ': marker.find('MarkerZ').text}
        data.append(row)

# Create a pandas DataFrame from the data
df = pd.DataFrame(data, columns=['Image_Filename', 'Type', 'MarkerX', 'MarkerY', 'MarkerZ'])

In [5]:
df

          Image_Filename Type MarkerX MarkerY MarkerZ
0        placeholder.tif    1    3354     521       5
1        placeholder.tif    1    3077    1160       5
2        placeholder.tif    1    5258    1308       3
3        placeholder.tif    1    3260    3820       2
4        placeholder.tif    1    3280    4113       8
...                  ...  ...     ...     ...     ...
1670226  placeholder.tif    1    5624    9292    1996
1670227  placeholder.tif    1    5624    9316    1996
1670228  placeholder.tif    1    5624    9382    1996
1670229  placeholder.tif    1    4686    9673    1996
1670230  placeholder.tif    1    4919    9703    1996

[1670231 rows x 5 columns]