In [2]:
import xml.etree.ElementTree as ET
import pandas as pd

# Cells.xml

### cells.xml - Cell candidate positions in the coordinate space of the raw data

In [17]:
# Parse the XML file
tree = ET.parse('/Users/grant/Desktop/work/Denman_Lab/Cal_Light/cellfinder/cellfinder_output/G21/G21_cellfinder_output_021423/points/cells.xml')

# Get the root element
root = tree.getroot()

# Get the Image_Filename
image_filename = root.find('Image_Properties/Image_Filename').text

# Create a list of dictionaries to store the data
data = []
for marker_type in root.findall('Marker_Data/Marker_Type'):
    type_id = marker_type.find('Type').text
    for marker in marker_type.findall('Marker'):
        row = {'Image_Filename': image_filename,
               'Type': type_id,
               'MarkerX': marker.find('MarkerX').text,
               'MarkerY': marker.find('MarkerY').text,
               'MarkerZ': marker.find('MarkerZ').text}
        data.append(row)

# Create a pandas DataFrame from the data
cells_df = pd.DataFrame(data, columns=['Image_Filename', 'Type', 'MarkerX', 'MarkerY', 'MarkerZ'])

# Assuming your DataFrame is called "df"
num_rows_with_type_1 = len(cells_df[cells_df['Type'] == '1'])
print("num rows with type 1: " + str(num_rows_with_type_1))

# Assuming your DataFrame is called "df"
num_rows_with_type_2 = len(cells_df[cells_df['Type'] == '2'])
print("num rows with type 2: " + str(num_rows_with_type_2))


cells_df

num rows with type 1: 34361
num rows with type 2: 0

        Image_Filename Type MarkerX MarkerY MarkerZ
0      placeholder.tif    1    4687    3799     152
1      placeholder.tif    1    4120    3819     152
2      placeholder.tif    1    4952    3887     152
3      placeholder.tif    1    3241    4024     153
4      placeholder.tif    1    4469    4060     152
...                ...  ...     ...     ...     ...
34356  placeholder.tif    1    3149    6469     198
34357  placeholder.tif    1    2904    6518     198
34358  placeholder.tif    1    3014    6518     198
34359  placeholder.tif    1    4263    6547     198
34360  placeholder.tif    1    3168    6566     198

[34361 rows x 5 columns]

# Cell_classification.xml

### cell_classification.xml - Same as cells.xml, but after classification (i.e. each cell candidate has a cell/no_cell label)

In [19]:
# Parse the XML file
tree = ET.parse('/Users/grant/Desktop/work/Denman_Lab/Cal_Light/cellfinder/cellfinder_output/G21/G21_cellfinder_output_021423/points/cell_classification.xml')

# Get the root element
root = tree.getroot()

# Get the Image_Filename
image_filename = root.find('Image_Properties/Image_Filename').text

# Create a list of dictionaries to store the data
data = []
for marker_type in root.findall('Marker_Data/Marker_Type'):
    type_id = marker_type.find('Type').text
    for marker in marker_type.findall('Marker'):
        row = {'Image_Filename': image_filename,
               'Type': type_id,
               'MarkerX': marker.find('MarkerX').text,
               'MarkerY': marker.find('MarkerY').text,
               'MarkerZ': marker.find('MarkerZ').text}
        data.append(row)

# Create a pandas DataFrame from the data
cellClassification_df = pd.DataFrame(data, columns=['Image_Filename', 'Type', 'MarkerX', 'MarkerY', 'MarkerZ'])

# Assuming your DataFrame is called "df"
num_rows_with_type_1 = len(cellClassification_df[cellClassification_df['Type'] == '1'])
print("num rows with type 1: " + str(num_rows_with_type_1))

# Assuming your DataFrame is called "df"
num_rows_with_type_2 = len(cellClassification_df[cellClassification_df['Type'] == '2'])
print("num rows with type 2: " + str(num_rows_with_type_2))


cellClassification_df

num rows with type 1: 11
num rows with type 2: 34351

        Image_Filename Type MarkerX MarkerY MarkerZ
0      placeholder.tif    1    4690    5016     152
1      placeholder.tif    1    4773    5170     152
2      placeholder.tif    1    4688    5074     153
3      placeholder.tif    1    4909    5292     153
4      placeholder.tif    1    4853    5334     167
...                ...  ...     ...     ...     ...
34357  placeholder.tif    2    3149    6469     198
34358  placeholder.tif    2    2904    6518     198
34359  placeholder.tif    2    3014    6518     198
34360  placeholder.tif    2    4263    6547     198
34361  placeholder.tif    2    3168    6566     198

[34362 rows x 5 columns]